@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "MegaDesk | Delete Quote";

    var customerName = "";
    var deskWidth = 0;
    var deskDepth = 0;
    var deskNumOfDrawers = 0;
    var deskMaterial = "";
    var rushDays = 0;
    var dateAdded = DateTime.Now.ToString();
    var quoteAmount = 0;
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            quoteId = Request.QueryString["ID"];
            var db = Database.Open("MegaDeskWebApp");
            var dbCommand = "SELECT * FROM Orders WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);

            if (row != null)
            {
                customerName = row.customerName;
                deskWidth = row.width;
                deskDepth = row.depth;
                deskNumOfDrawers = row.numOfDrawers;
                deskMaterial = row.typeOfMaterial;
                rushDays = row.rushOrder;
                quoteAmount = row.quoteAmount;
                dateAdded = row.quoteDate.ToString();
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was found for that ID.");
        }
    }
    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        quoteId = Request.QueryString["ID"];
        var db = Database.Open("MegaDeskWebApp");
        var deleteCommand = "DELETE FROM Orders WHERE ID = @0";
        db.Execute(deleteCommand, quoteId);
        Response.Redirect("~/Home");
    }
}
<article class="row" id="delete-journal">
    <section class="single-quote">
        <h2 class="headline">Delete Quote # @quoteId</h2>
        <hr>
        @Html.ValidationSummary()

        <form method="get" class="quote-form">
            <fieldset>
                <section class="form-group">
                    <span class="has-float-label">
                        <label for="customerName">Customer Name:</label>
                        <input type="text" class="form-control" id="customerName" name="customerName" value="@customerName" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskWidth">Desk Width:</label>
                        <input type="number" class="form-control" id="deskWidth" name="deskWidth" value="@deskWidth" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskDepth">Desk Depth:</label>
                        <input type="number" class="form-control" id="deskDepth" name="deskDepth" value="@deskDepth" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskNumOfDrawers">Number of Desk Drawers:</label>
                        <input type="number" class="form-control" id="deskNumOfDrawers" name="deskNumOfDrawers" value="@deskNumOfDrawers" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskMaterial">Desk Material:</label>
                        <input type="text" class="form-control" id="deskMaterial" name="deskMaterial" value="@deskMaterial" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="rushDays">Rush Options:</label>
                        <input type="text" class="form-control" id="rushDays" name="rushDays" value="@rushDays" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="quoteAmount">Quote Amount:</label>
                        <input type="number" class="form-control" id="quoteAmount" name="quoteAmount" value="@quoteAmount" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="dateAdded">Date Added:</label>
                        <input type="text" class="form-control" id="dateAddded" name="dateAdded" value="@dateAdded" readonly>
                    </span>
                </section>

                <input type="hidden" id="quoteId" name="quoteId" value="@quoteId">
                <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
            </fieldset>
        </form>
    </section>
</article>

