@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "MegaDesk | View Quote";

    var customerName = "";
    var deskWidth = 0;
    var deskDepth = 0;
    var deskNumOfDrawers = 0;
    var deskMaterialId = 0;
    var deskMaterialName = "";
    var deskMaterialPrice = 0.0;
    var rushDays = "";
    var dateAdded = DateTime.Now.ToString();
    var quoteAmount = 0.0;
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            quoteId = Request.QueryString["ID"];
            var db = Database.Open("MegaDeskWebApp");
            var dbCommand = "SELECT customerName, width, depth, numOfDrawers, materialId, materialName, rushOrder, quoteDate, quoteAmount FROM Orders join Material on Material.id = Orders.materialId  WHERE Orders.ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);

            if (row != null)
            {
                customerName = row.customerName;
                deskWidth = row.width;
                deskDepth = row.depth;
                deskNumOfDrawers = row.numOfDrawers;
                deskMaterialId = row.materialId;
                deskMaterialName = row.materialName;
                if (row.rushOrder == 0)
                {
                    rushDays = "None";
                }
                else
                {
                    rushDays = row.rushOrder + " Days";
                }

                quoteAmount = row.quoteAmount;
                dateAdded = row.quoteDate.ToString();
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was selected.");
        }
    }

}
<article class="row" id="view-quote-page">
    <section class="single-quote">
        <h2 class="headline">View Quote # @quoteId</h2>
        @Html.ValidationSummary()

        <form method="get" class="quote-form">
            <fieldset>
                <section class="form-group">
                    <span class="has-float-label">
                        <label for="customerName">Customer Name:</label>
                        <input type="text" class="form-control" id="customerName" name="customerName" value="@customerName" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskWidth">Desk Width:</label>
                        <input type="text" class="form-control" id="deskWidth" name="deskWidth" value="@deskWidth inches" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskDepth">Desk Depth:</label>
                        <input type="text" class="form-control" id="deskDepth" name="deskDepth" value="@deskDepth inches" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskNumOfDrawers">Number of Desk Drawers:</label>
                        <input type="number" class="form-control" id="deskNumOfDrawers" name="deskNumOfDrawers" value="@deskNumOfDrawers" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="deskMaterial">Desk Material:</label>
                        <input type="text" class="form-control" id="deskMaterial" name="deskMaterial" value="@deskMaterialName" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="rushDays">Rush Options:</label>
                        <input type="text" class="form-control" id="rushDays" name="rushDays" value="@rushDays" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="quoteAmount">Quote Amount:</label>
                        <input type="text" class="form-control" id="quoteAmount" name="quoteAmount" value="$@quoteAmount" readonly>
                    </span>
                </section>

                <section class="form-group">
                    <span class="has-float-label">
                        <label for="dateAdded">Date Added:</label>
                        <input type="text" class="form-control" id="dateAddded" name="dateAdded" value="@dateAdded" readonly>
                    </span>
                </section>
            </fieldset>
        </form>
    </section>
</article>
<p class=" menuLink button">
    <a href="~/Home.cshtml">Back to Menu</a>
</p>